canvas {
  width: 80%;
  border: solid 1px black;
  height: 100%;
  display: block;
}
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: url(wmremove-transformed.png) no-repeat bottom left;
}
